@media only screen and (max-width: 600px) {
  @font-face {
    font-family: "ARCO Typography";
    src: url("../fonts/ARCO.ttf") format("truetype"); /* Ajusta la ruta según la ubicación de tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
  }

  .contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  input {
    width: 90%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }

  .tabla {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
  }

  .separador-extravio {
    text-align: center;
  }

  .encabezado-extravio {
    font-family: "ARCO Typography";
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    color: #0099ff;
    /*text-shadow: 1px 1px 1px #0077ff; /* Ajusta el sombreado según sea necesario */
    font-size: 30px;
    padding: 2px;
    text-align: center;
    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .fecha-extravio {
    font-family: "ARCO Typography";
    color: #fffb00;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 12px;
    text-shadow: 1px 1px 1px #fffb00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .hora-extravio {
    font-family: "ARCO Typography";
    color: #fffb00;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 12px;
    text-shadow: 1px 1px 1px #fffb00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .se-extravio {
    font-family: "ARCO Typography";
    color: #ff0000;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 12px;
    text-shadow: 1px 1px 1px #fffb00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .objeto-extravio {
    font-family: "ARCO Typography";
    color: #09ff00;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 20px;
    /*ext-shadow: 1px 1px 1px #09ff00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .lugar-extravio {
    font-family: "ARCO Typography";
    color: #c8ff00;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 20px;
    /*text-shadow: 1px 1px 1px #c8ff00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }


  .abordaje-extravio {
    font-family: "ARCO Typography";
    color: #ff7b00;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 20px;
    /*text-shadow: 1px 1px 1px #ff7b00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .comunicate-extravio {
    font-family: "ARCO Typography";
    color: #a5a5a5;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 12px;
    /*text-shadow: 1px 1px 1px #fffb00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .telefono-extravio {
    font-family: "ARCO Typography";
    color: #fffb00;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 30px;
    text-shadow: 1px 1px 1px #fffb00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .entrega-extravio {
    font-family: "ARCO Typography";
    color: lightgreen;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 12px;
    /*text-shadow: 1px 1px 1px #fffb00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .boton-capturar-extravio {
    background-color: rgb(204, 0, 255); /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    padding: 10px; /* Aumenta el espacio alrededor del texto */
    border: 1px solid #000; /* Elimina el borde */
    border-radius: 5px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Agrega una transición */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 20px;
  }

  .copyright-extravio {
    text-align: center;
    font-size: 10px;
  }
}
