@media only screen and (max-width: 600px) {
  @font-face {
    font-family: "ARCO Typography";
    src: url("../fonts/ARCO.ttf") format("truetype"); /* Ajusta la ruta según la ubicación de tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
  }

  .contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  input {
    width: 90%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }

  .tabla {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
  }

  .separador-cerrada {
    text-align: center;
  }

  .encabezado-cerrada {
    font-family: "ARCO Typography";
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    color: #ff0000;
    /*text-shadow: 1px 1px 1px #a200ff; /* Ajusta el sombreado según sea necesario */
    font-size: 24px;
    padding: 1px;
    text-align: center;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .ciudad-cerrada {
    font-family: "ARCO Typography";
    color: lightblue;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 18px;
    /*text-shadow: 1px 1px 1px #cc00ff; /* Ajusta el sombreado según sea necesario */
    padding: 3px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }
  
  .fechayhora-cerrada {
    font-family: "ARCO Typography";
    color: lightcoral;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 18px;
    /*text-shadow: 1px 1px 1px #cc00ff; /* Ajusta el sombreado según sea necesario */
    padding: 3px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .calle-cerrada {
    font-family: "ARCO Typography";
    color: #a6ff00;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 18px;
    /*text-shadow: 1px 1px 1px #a6ff00; /* Ajusta el sombreado según sea necesario */
    padding: 3px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .se-encuentra-cerrada {
    font-family: "ARCO Typography";
    color: #ff0000;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 18px;
    /*text-shadow: 1px 1px 1px #a6ff00; /* Ajusta el sombreado según sea necesario */
    padding: 3px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

 .a-la-altura-cerrada {
    font-family: "ARCO Typography";
    color: #0099ff;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 16px;
    /*text-shadow: 1px 1px 1px #a6ff00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .altura-cerrada {
    font-family: "ARCO Typography";
    color: #fffb00;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 18px;
    /*text-shadow: 1px 1px 1px #a6ff00; /* Ajusta el sombreado según sea necesario */
    padding: 3px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .usar-vias-cerrada {
    font-family: "ARCO Typography";
    color: #48ff00;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 18px;
    /*text-shadow: 1px 1px 1px #a6ff00; /* Ajusta el sombreado según sea necesario */
    padding: 3px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .alterna1-cerrada {
    font-family: "ARCO Typography";
    color: cornflowerblue;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 18px;
    /*text-shadow: 1px 1px 1px #a6ff00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .alterna2-cerrada {
    font-family: "ARCO Typography";
    color: #f58aff;
    text-align: center;
    letter-spacing: 2px; /* Ajusta el espaciado según sea necesario */
    font-size: 18px;
    /*text-shadow: 1px 1px 1px #a6ff00; /* Ajusta el sombreado según sea necesario */
    padding: 1px;

    -webkit-text-stroke-width: 1px; /* Grosor del contorno */
    -webkit-text-stroke-color: #000000; /* Color del contorno */
  }

  .boton-capturar {
    background-color: rgb(204, 0, 255); /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    padding: 10px; /* Aumenta el espacio alrededor del texto */
    border: 1px solid #000; /* Elimina el borde */
    border-radius: 5px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Agrega una transición */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 20px;
  }

  .tips-cerrada {
    font-size: 14px;
    text-align: center;
  }

  .copyright-cerrada {
    font-size: 12px;
    text-align: center;
    padding: 10px;
  }
}
